<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Celebrities</p>
<a href="/celebrities">check celebrities</a>
<a href="/celebrities/create">create a new celebrity</a>

<p>Movies</p>
<a href="/movies">check movies</a>
<a href="/movies/create">create a new movie</a>